
services:
  nethermind-l2:
    image: nethermind.jfrog.io/core-oci-local-dev/nethermind-arbitrum:main
    container_name: nethermind-l2
    restart: 'no'
    ports:
      - 20545:20545
      - 20551:20551
      - 30303:30303/tcp
      - 30303:30303/udp
      - 8008:8008
    volumes:
      - ./nethermind-data:/app/nethermind_db
    command:
      - -c=arbitrum-sepolia-archive
      - --data-dir=/app/nethermind_db
      - --JsonRpc.Host=0.0.0.0
      - --JsonRpc.EngineHost=0.0.0.0
      - --Arbitrum.BlockProcessingTimeout=60000
      - --Init.DiscoveryEnabled=false
      - --Network.MaxActivePeers=0
      - --Sync.SnapSync=false
      - --Sync.FastSync=false