name: Publish Docker image

on:
  workflow_dispatch:
    inputs:
      image-name:
        description: Image name
        required: true
        default: nethermind-arbitrum
      tag:
        description: Image tag
        required: true
      dockerfile:
        description: Dockerfile
        required: true
        default: Dockerfile
      build-config:
        description: Build configuration
        required: true
        default: release
        type: choice
        options: [release, debug]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  id-token: write
  attestations: write
  contents: read

jobs:
  Build:
    uses: NethermindEth/github-workflows/.github/workflows/docker-build-push-jfrog.yaml@vdba621a224215bd674870ca8da2c6b725b984f75
    with:
      group_name: core
      image_name: ${{ github.event.inputs.image-name }}
      dockerfile_path: ${{ github.event.inputs.dockerfile }}
      docker_build_args: |
        BUILD_CONFIG=${{ github.event.inputs.build-config }}
        BUILD_TIMESTAMP=${{ github.run_number }}
        CI=true
        COMMIT_HASH=${{ github.sha }}
      additional_tags: ${{ github.event.inputs.tag }}
