name: Run Node in Chain

on:
  workflow_dispatch:
    inputs:
      nethermind-image:
        description: Nethermind Arbitrum docker image
        required: true
      nitro-image:
        description: Nitro docker image
        required: true
      chain:
        description: Chain name
        required: true
        default: sepolia
        type: choice
        options: [sepolia]
      timeout:
        description: Timeout in hours for the machine to be auto removed
        required: false
        type: number
        default: 24
      ssh-keys:
        description: Comma separated SSH keys to add to the machine
        required: false
        type: string
        default: ""
      allowed-ips:
        description: Comma separated allowed IPs to allow in the machine firewall
        required: false
        type: string
        default: ""
      tags:
        description: Comma separated tags for the machine
        required: false
        type: string
        default: ""

jobs:
  run-node:
    runs-on: ubuntu-latest
    env:
      WORKFLOW_REF: "feat/custom-nodes"
      # Generated by the workflow
      BASE_TAG: ""
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Authenticate App
        id: gh-app
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
          repositories: "post-merge-smoke-tests"

      - name: Set up Python
        uses: actions/setup-python@v6

      - name: Install dependencies
        run: |
          pip install jinja2 jinja2-ansible-filters

      - name: Build base tag
        env:
          USER_NAME: ${{ github.actor }}
        run: |
          # Generate BASE_TAG using the first letter of USER_NAME and a random 4-digit number
          BASE_TAG="${USER_NAME:0:1}$(shuf -i 1000-9999 -n 1)"
          echo "BASE_TAG=$BASE_TAG" >> $GITHUB_ENV

      - name: Generate custom node script
        env:
          DOCKER_REGISTRY: ${{ secrets.DOCKER_REGISTRY }}
          DOCKER_REGISTRY_USERNAME: ${{ secrets.DOCKER_REGISTRY_USERNAME }}
          DOCKER_REGISTRY_PASSWORD: ${{ secrets.DOCKER_REGISTRY_PASSWORD }}
          GH_TOKEN: ${{ steps.gh-app.outputs.token }}
          GH_USERNAME: ${{ github.actor }}
          BASE_TAG: ${{ env.BASE_TAG }}
          TIMEOUT: ${{ github.event.inputs.timeout }}
          CHAIN: ${{ github.event.inputs.chain }}
          NITRO_IMAGE: ${{ github.event.inputs.nitro-image }}
          NETHERMIND_IMAGE: ${{ github.event.inputs.nethermind-image }}
          SETUP_SCRIPT_TEMPLATE: "scripts/setup_script.sh.j2"
          TAGS: ${{ github.event.inputs.tags }}
          ALLOWED_IPS: ${{ github.event.inputs.allowed-ips }}
          SSH_KEYS: ${{ github.event.inputs.ssh-keys }}
        run: |
          python scripts/generate_custom_node_data.py

      - name: Trigger Machine Creation
        env:
          GH_TOKEN: ${{ steps.gh-app.outputs.token }}
        run: |
          cat custom_node_data.json | gh workflow run run-custom-node.yml -R NethermindEth/post-merge-smoke-tests --ref='${{ env.WORKFLOW_REF }}'

      - name: Wait for Workflow completion
        env:
          GITHUB_TOKEN: ${{ steps.gh-app.outputs.token }}
          WORKFLOW_ID: "run-custom-node.yml"
          MAX_WAIT_MINUTES: "5"
          INTERVAL: "5"
          TIMEOUT: "20"
          ORG_NAME: "NethermindEth"
          REPO_NAME: "post-merge-smoke-tests"
          REF: "feat/custom-nodes"
        run: |
          bash ./scripts/wait_for_workflow.sh | tee workflow.log
          RUN_ID=$(grep -oP 'Run ID: \K\d+' workflow.log)
          echo "Run ID extracted is: $RUN_ID"
          echo "RUN_ID=$RUN_ID" >> $GITHUB_ENV

      - name: Download machine details artifact
        env:
          GH_TOKEN: ${{ steps.gh-app.outputs.token }}
          RUN_ID: ${{ env.RUN_ID }}
        run: |
          ARTIFACT_ID=$(curl -H "Accept: application/vnd.github.v3+json" -H "Authorization: token ${GH_TOKEN}" https://api.github.com/repos/NethermindEth/post-merge-smoke-tests/actions/runs/${RUN_ID}/artifacts | jq '.artifacts[0].id')
          curl -L -H "Accept: application/vnd.github.v3+json" -H "Authorization: token ${GH_TOKEN}" -o artifact.zip https://api.github.com/repos/NethermindEth/post-merge-smoke-tests/actions/artifacts/${ARTIFACT_ID}/zip
          unzip artifact.zip -d ./downloaded-artifacts/

      - name: Display machine details
        run: |
          echo "# Machine Details" >> $GITHUB_STEP_SUMMARY
          echo "```text" >> $GITHUB_STEP_SUMMARY
          cat downloaded-artifacts/machine-details/machine-specs.txt >> $GITHUB_STEP_SUMMARY
          echo "```" >> $GITHUB_STEP_SUMMARY
